framework:
    messenger:
        failure_transport: failed
        transports:
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queue_name: async
                retry_strategy:
                    max_retries: 3
                    multiplier: 2

            failed: 'doctrine://default?queue_name=failed'
            sync: 'sync://'

        routing:
            'Symfony\Component\Console\Messenger\RunCommandMessage': async

            'App\Message\SendHabitReminder': async
